h1{
    color:rgb(70, 126, 230);
    font-size: 60px;

}

h2{
    color:rgb(36, 168, 162);
    font-size: 40px;
}

h3{
    color:rgb(101, 19, 160);
    font-size: 40px;
}
p{
    color:rgb(77, 7, 104);
    font-size: 22px;
    font-family: Bell MT, "Helvetica Neue", Helvetica, sans-serif;
    
}

.class-cuadro{
    color: black;
    background-color: bisque;
}
#parrafo-cafe{
    color:chocolate;
    font-size: 18px;
}

img{
    width: 650px;
    height: 650px;
}

#img-I2{
    width: 650px;
    height: 450px;
}

#img-I3{
    width: 500px;
    height: 500px;
}

#img-I4{
    width: 450px;
    height: 450px;
}

#caja{
    border: 3px solid burlywood;
    padding: 30px;
    margin-right: 200px;
}

#caja-2{
    border: 3px solid rgb(135, 195, 222);
    padding: 30px;
    margin-right: 200px;
}